.l-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 15rem 20rem;

  width: 48rem;
  height: 35rem;
  border-radius: 1rem;

  box-shadow: 0rem 0rem 0.5rem rgba(0, 0, 0, 0.3);
}
